<!-- Source code is licensed GPLv2: https://bitbucket.org/bitwelt/gantt-client/src/master/license.txt -->
<!DOCTYPE html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@atlassian/aui@8.5.1/dist/aui/aui-prototyping.css" media="all">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/dhtmlx-gantt@7.0.2/codebase/dhtmlxgantt.css" media="all">
  <style type="text/css">
    html, body{
      height:100%;
      padding:0px;
      margin:0px;
    }
  </style>
  <script src="//cdn.jsdelivr.net/npm/dhtmlx-gantt@7.0.2/codebase/dhtmlxgantt.min.js"></script>
</head>
<body>
  <div class="ac-content">
    <div id="macro-content">
      {% if mode == 'view' %}
      <button id="fullscreen_button" class="aui-button aui-button-compact" type="button"><span class="aui-icon aui-icon-small aui-iconfont-vid-full-screen-on">Fullscreen</span> Fullscreen</button>
      {% endif %}
      <div id="gantt_chart" height="500" style='width:100%; height:100%;' data-macroUrl="{{body_url}}"></div>
    </div>
  </div>
  <script src="https://connect-cdn.atl-paas.net/all.js" data-options="resize:false;"></script>
  <script type="text/javascript">
  var macroUrl = document.querySelector('#gantt_chart').dataset.macrourl;
  gantt.config.readonly = true;
  gantt.config.autosize = "xy";
  gantt.plugins({tooltip: true});

  var button = document.getElementById("fullscreen_button");
  if (button){
    button.addEventListener("click", function(){
      AP.dialog.create({
        key: 'gantt-chart-fullscreen',
        size: "fullscreen",
        chrome: false
      })
    })
  }
  AP.request({
    url: macroUrl,
    success: function(res){
      var res = JSON.parse(res);
      var body  = JSON.parse(res.body);
      gantt.config.scale_unit = body.scale;
      if (body.hide_table){
        gantt.config.columns = [
          {name:"text", label:"Task name", tree:true, width: 220, "align": "left"}
        ];
      } else {
        gantt.config.columns = [
          {name:"text", label:"Task name", tree:true, width: "*", "align": "left"},
          {name:"start_date", label:"Start time", align: "center"},
          {name:"duration", label:"Duration", align: "center"}
        ];
      }
      gantt.init("gantt_chart");
      gantt.parse(body.data);

      gantt.eachTask(function(task){
        process_task(task.id);
      });
      gantt.render();

      function process_task(id){
        var task = gantt.getTask(id);
        task.$open = true;
      }
      var chartSize = document.getElementById("gantt_chart").getBoundingClientRect();
      AP.resize(chartSize.width, chartSize.height + 28);
    },
    error: function(res){
      if (res.status_code = "404"){
        document.querySelector('#macro-content').innerHTML = "<p>After adding/editing chart data, publish the page!</p>";
      }
    }
  })
  </script>
</body>